@font-face {
    font-family: Scoreboard;
    src: url(scoreboard.ttf) format("truetype");
}

body {
  font-family: Scoreboard;
  color: white;
  background: black;
}

table {
  font-size: large;
  /*border-collapse: collapse;*/
}

tr {
  display: table-row;
}

.bubble {
  border-collapse: separate;
  margin-right: 1em;
  padding: 1em;
  display: inline-block;
}

.line-123 {
  background: #ef3f42;
  border-radius: 50%;
  text-align: center;
  margin: 1em;
  width: 1.5em;
  height: 1.5em;
  color: white;
}
