@font-face {
    font-family: Scoreboard;
    src: url(scoreboard.ttf) format("truetype");
}

body {
  font-family: Scoreboard;
  color: rgb(255,147,41);
  font-size: 29pt;
  font-weight: bold;
    margin: 0 5%;
  background-image: url("Rome_subway_graffiti.jpg");
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;              /* optional, center the image */
}

table {
  background: black;
    border-collapse: collapse;
    width: 100%;
}

td {
    padding: .7ex .5ex .7ex 1.5ex;
    border: 0 solid white;
    border-width: 10px 0;
    background: black;
}

tr > td:first-child {
    width: 2em;
}

tr > td:first-child + td {
    width: 1.5em;
}

img {
    margin-top: .2ex;
    width: 1.8em;
}
